# Cache files
.eslintcache
.npm
*.tsbuildinfo
# Directories
lib/
node_modules/
.idea/
# Env files      # A good safeguard against accidentally publishing
.env.
.env.test
# Logs
*.log
logs
npm-debug.log*
# Misc files
.DS_Store
notes.md